.container-product {
    &>.container {
        &>.logo {
            width: 100%;
            display: flex;
            justify-content: space-between;

            &>button {
                color: #fff;
                padding: 40px 20px;
                border: none;
                background-color: transparent;
                display: flex;

                &>svg {
                    transform: rotate(180deg);
                }
            }

            &>img {
                width: 68%;
                height: 100%;
                object-fit: cover;
            }
        }

        &>.buttons {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            padding: 0px 40px;

            &>div,
            &>div>.container-select {
                width: 100%;
                display: flex;
                gap: 15px;
                position: relative;

                &>.arrow {
                    position: absolute;
                    font-size: 25px;
                    color: #DEDEDE;
                    right: 4px;
                    top: 18px;
                    z-index: 9999;
                }

                &>.drop {
                    transition: .1s;
                    width: 95%;
                    margin: 0 auto;
                    overflow: auto;

                    &.none {
                        height: 0vh;
                    }

                    height: 12vh;

                    border-left: 1px solid rgb(170, 170, 170);
                    border-right: 1px solid rgb(170, 170, 170);
                    border-bottom: 1px solid rgb(170, 170, 170);
                    position: absolute;
                    top: 60px;
                    left: 3%;
                    z-index: 99;

                    &>.input-drop {
                        width: 100%;
                        height: 50%;
                        background-color: #fff;

                        &:last-child {
                            border-bottom: transparent;
                        }

                        border-bottom: 1px solid rgb(170, 170, 170);
                        border-top: transparent;
                        border-left: transparent;
                        border-right: transparent;
                        font-size: 20px;
                        color: #757575;
                        text-align: center;
                        caret-color: transparent;

                        &:focus-visible {
                            outline: none;
                        }
                    }
                }
            }

            &>.new-product {
                width: 60%;
                height: 6vh;
                margin-top: 30px;
            }
        }
    }
}