.button-interactive {
    width: 100%;
    height: 100%;
    background-color: #5E17EB;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 25%);
    border: none;
    cursor: pointer;
    padding: 8px 12px;

    &:disabled{
        background-color: #c8c8c8;
        cursor: not-allowed;
    }
}